@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #011221;
}

input {
  background-color: #263f58;
}
.modal-content{
  background-color: #263f58;
  color: rgba(225,225,225,.8);
}
.card{
  transition:all 1s;
}